/* @tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens; */

/*
* custom-styles
* 
*/

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-size: cover;
}

.profile-container{
  max-width: 56rem;
  display: flex;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.profile-container > #profile{
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  opacity: 0.75;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.profile-container > #profile > div{
  padding: 1rem;
  text-align: center;
}

.profile-container > #profile > div > div:first-child{
  display: block;
  border-radius: 9999px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-left: auto;
  margin-right: auto;
  margin-top: -4rem;
  height: 12rem;
  width: 12rem;
  background-size: cover;
  background-position: center;
}

.name{
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 2rem;
}

.name + div{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 0.75rem;
  border-bottom-width: 2px;
  --border-opacity: 1;
  border-color: #38b2ac;
  border-color: rgba(56, 178, 172, var(--border-opacity));
  opacity: 0.25;
}

.job{
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.job .icon{
  height: 1rem;
  fill: currentColor;
  --text-opacity: 1;
  color: #2c7a7b;
  color: rgba(44, 122, 123, var(--text-opacity));
  padding-right: 1rem;
}

.location{
  padding-top: 0.5rem;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.location > .icon{
  height: 1rem;
  fill: currentColor;
  --text-opacity: 1;
  color: #2c7a7b;
  color: rgba(44, 122, 123, var(--text-opacity));
  padding-right: 1rem;
}

.short-inro{
  padding-top: 2rem;
  font-size: 0.875rem;
}

.contact{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.contact > button{
  --bg-opacity: 1;
  background-color: #2c7a7b;
  background-color: rgba(44, 122, 123, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 9999px;
}

.contact > button:hover{
  --bg-opacity: 1;
  background-color: #234e52;
  background-color: rgba(35, 78, 82, var(--bg-opacity));
}

.footer{
  margin-top: 1.5rem;
  padding-bottom: 4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.footer .social{
  height: 1.5rem;
  fill: currentColor;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

div.footer .social:hover{
  --text-opacity: 1;
  color: #2c7a7b;
  color: rgba(44, 122, 123, var(--text-opacity));
}

.image-container{
  width: 100%;
}

.image-container > img{
  border-radius: 0;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: none;
}

.theme-change{
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 4rem;
  padding: 1rem;
}

.theme-change > button:focus{
  outline: 0;
}

@media (min-width: 768px){
  .profile-container > #profile > div{
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .profile-container{
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile-container > #profile{
    width: 60%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .profile-container > #profile > div{
    text-align: left;
  }

  .profile-container > #profile > div > div:first-child{
    display: none;
  }

  .name{
    padding-top: 0;
  }

  .name + div{
    margin-left: 0;
    margin-right: 0;
  }

  .job{
    justify-content: flex-start;
  }

  .location{
    font-size: 0.875rem;
    justify-content: flex-start;
  }

  .footer{
    padding-bottom: 0;
    width: 100%;
  }

  .image-container{
    width: 40%;
  }

  .image-container > img{
    border-radius: 0.5rem;
    display: block;
  }
}
