body{
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.social{
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  text-decoration: none;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  padding-right: 1.5rem;
}

.post-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

article{
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article > img:hover {
  opacity: 0.75;
}

article > .post {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
}

.post > .category{
  --text-opacity: 1;
  color: #2b6cb0;
  color: rgba(43, 108, 176, var(--text-opacity));
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.post > .title{
  font-size: 1.875rem;
  font-weight: 700;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  padding-bottom: 1rem;
}

.post > .title:hover{
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.post > .sub-title{
  font-size: 0.875rem;
  padding-bottom: 0.75rem;
}

.post > .author{
  font-weight: 600;
}

.post > .author:hover{
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.post > .summary{
  padding-bottom: 1.5rem;
}

.post > .continue{
  text-transform: uppercase;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.post > .continue:hover{
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

header{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header > div > .title{
  font-weight: 700;
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
  text-transform: uppercase;
  font-size: 3rem;
}

header > div > .title:hover{
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

header > div > .sub-title{
  font-size: 1.125rem;
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.paginator{
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem
}

.paginator > a{
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center
}

.paginator > a.page{
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity))
}

.paginator > a.page:hover{
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity))
}

.paginator > a.active{
  --bg-opacity: 1;
  background-color: #2c5282;
  background-color: rgba(44, 82, 130, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity))
}

.paginator > a.arrow{
  margin-left: 0.75rem;
}

.paginator > a.arrow:hover{
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

@media (min-width: 768px){
  .post-section{
    width: 66.666667%;
  }
}